*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgb(0,0,0,0.55),rgb(0,0,0,0.55),rgb(0,0,0,0.55)) ,url(aa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    margin-top: 19px;
    width: 100%;
    height: 150px;
}
img{
    height: 150px;
    float: left;
    margin-left: 60px;
    margin-right: 50px;
}
.ul1 {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.ul1 li{
    margin-left: 20px;
    color: white;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    font-size: 18px;
    font-family: 'Times New Roman';
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}
li:hover{
    color: black;
    background-color: white;
}
.dropdown-menu{
    list-style: none;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
.main{
    text-align: center;
}
.topic{
    color: white;
    font-size: 70px;
    margin-top: 170px;
}
.span1{
    color: white;
    border: 1.5px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Times New Roman';
    transition: 0.3s ease-in-out;
}
.span2{
    color: white;
    border: 1.5px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family:Georgia;
    transition: 0.3s ease-in-out;
}
.span3{
    color: white;
    border: 1.5px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Times New Roman';
    transition: 0.3s ease-in-out;
}
.span1:hover{
    color: black;
    background-color: white;
}
.span2:hover{
    color: black;
    background-color: white;
}
.span3:hover{
    color: black;
    background-color: white;
}
